/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--black: 0, 0, 0;
	--white: 255, 255, 255;
	--gray-super-light: 247, 247, 247;
	--gray-light: 230, 230, 230;
	--gray: 179, 179, 179;
	--gray-less-dark: 128, 128, 128;
	--gray-dark: 77, 77, 77;
	--yellow: 250, 230, 123;
	--header-text-font: 22px;
	--normal-text-font: 18px;
	--small-text-font: 16px;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'SourceHanSansCN';
	src: url('/fonts/SourceHanSansCN-Normal.otf') format('opentype');
	unicode-range: U+4E00-9FFF;
}
@font-face {
	font-family: 'Avenir Medium';
	src: url('/fonts/Avenir-Medium.woff') format('woff');
	unicode-range: U+0000-00FF;
}
@font-face {
	font-family: 'Avenir Roman';
	src: url('/fonts/Avenir-Roman.woff') format('woff');
	unicode-range: U+0000-00FF;
}
body {
	font-family: 'Avenir Roman', 'SourceHanSansCN';
	margin: 0;
	background: rgb(var(--white));
	font-size: var(--normal-text-font);
	/* make page one-window size */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	overflow-y: scroll;
}
main {
	padding: 3em;
	display: flex;
	margin-top: calc(5em + 7px); /* add the boader line */
	/* make page one-window size */
	flex-grow: 1;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: rgb(var(--gray-dark));
  }

.shownotes img {
	width: 70%;
}

.shownotes p {
	font-size: var(--normal-text-font);
	color: rgb(var(--gray-dark));
	margin: 0em;
}

.shownotes li {
	font-size: var(--normal-text-font);
	color: rgb(var(--gray-dark));
}


.shownotes h2 {
	font-size: var(--header-text-font);
}

.shownotes figure {
	margin-left: 0;
	margin-bottom: 1em;
}
