---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | About`} description={SITE_DESCRIPTION} />
    <style>

      .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;
      }

      .column {
        flex: 1;
        box-sizing: border-box;
      }

      .column.left {
        text-align: left;
      }

      .column.right {
        text-align: justify;
      }

      .creators {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .creator {
        flex: 1;
        align-items: flex-start;
        margin: 0 1rem;
      }

      .creator img {
        max-width: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
      }

      .creator h3 {
        margin: 0.5rem 0;
      }

      .creator p {
        font-size: 0.9rem;
        color: #555;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
        <div class="row">
          <div class="column left">
            <h2>About Swing</h2>
          </div>
          <div class="column right">
            <p>
              Swing DescriptionSwing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description Swing Description 
            </p>
          </div>
        </div>
        <div class="row creators">
          <div class="creator">
            <img src="/images/aiden.jpg" alt="Aiden Huang">
            <h3>Aiden Huang</h3>
            <p>
              Aiden's Description
            </p>
          </div>
          <div class="creator">
            <img src="/images/flora.jpg" alt="Flora Yao">
            <h3>Flora Yao</h3>
            <p>
              Flora's Description
            </p>
          </div>
        </div>
    </main>
    <Footer />
  </body>
</html>