---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | About`} description={SITE_DESCRIPTION} />
    <style>
      main {
        flex-direction: column;
      }
      a {
        text-decoration: none;
        color: rgb(var(--gray-less-dark));
        padding-left: 1em;
      }
      strong {
        font-family: 'Avenir Medium', 'SourceHanSansCN';
        width: 200px;
      }
      .contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.3em;
      }
      .swing {
        display: flex;
      }

      .column {
        flex: 1;
      }

      .column.left {
        font-size: 3em;
        flex: 0 0 35%;
      }

      .column.right {
        text-align: justify
        flex: 1;
        padding-right: 15%;
      }
      .column.right .swing-en {
        padding-top: 1em;
      }
      .column.right .contact {
        display: flex;
        flex-direction: column;
        padding-top: 3em;
      }

      .creators {
        display: flex;
        padding-top: 5em;
      }

      .creator {
        display: flex;
        flex: 1; 
      }
      .creator .profile {
        flex: 0 0 auto;
        flex-direction: column;
        width: auto;
        max-width: 180px; 
      }
      .creator .contact {
        flex: 1;
        padding-left: 2em;
        padding-top: 1em;
        font-size: var(--small-text-font);
      }

      .creator img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1em;
      }
      .creator .name{
        font-size: var(--header-text-font); 
        text-align: center;
      }
      @media (max-width: 1200px) {
          .creators {
              flex-direction: column;
              padding-top: 1em;
          }
          .creator {
            display: flex;
            flex: 1; 
            padding-top: 3em;
          }
      }
      @media (max-width: 720px) {
          .swing {
              flex-direction: column;
          }
          .column.right {
          text-align: justify
          flex: 1;
          padding-right: 0;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
        <div class="swing">
          <div class="column left">
            About Swing
          </div>
          <div class="column right">
              <div class="swing-cn">
                欢迎来到花花和阿黄的乐园。我们常常想起坐在秋千上放松的时刻：轻盈的、自由的、松弛的。Swing是我们的品牌，也是我们的自留地，它包含了影像、播客、和照片，未来也许有一些文字、图像、产品啊等等（谁知道呢嘿嘿）。因为想尝试很多不一样的事，所以把一些些可能性塞在这个网站里，谢谢你找到我们，也邀请你跟我们一起，感受双脚离地的快乐！
              </div>
              <div class="swing-en">
                Welcome to the playground of Flora and Aiden. We often think back to those moments of relaxation on the swing: light, free, and relax. Swing is our brand and our personal space. It encompasses video, podcasts, and photography, and who knows, maybe some writing, illustrations, products, and more in the future. We wanted to try out many different things, so we packed a bit of possibility into this site. Thank you for finding us, and we invite you to join us in feeling the joy of having your feet off the ground!
              </div>
              <nav class="contact">
                  <div><strong>Instagram</strong><a href="https://www.instagram.com/swingofficial000" target="_blank" style="margin-left: 24.39px">swingofficial000</a></div>
                  <div><strong>Xiaohongshu</strong><a href="https://www.xiaohongshu.com/user/profile/6305f5ce000000001200fcd2" target="_blank">Swing</a></div>
                  <div><strong>Weibo</strong><a href="https://weibo.com/u/7872160033" target="_blank" style="margin-left: 53.25px">SwingOfficial</a></div>
              </nav>
          </div>
        </div>
        <div class="creators">
          <div class="creator">
            <div class="profile">
              <img src="/images/aiden.jpg" alt="Aiden Huang">
              <div class="name">Aiden Huang</div>
            </div>
            <nav class="contact">
                  <div><strong>Instagram</strong><a href="https://www.instagram.com/ahuang0808" target="_blank" style="margin-left: 21.68px">ahuang0808</a></div>
                  <div><strong>Youtube</strong><a href="https://www.youtube.com/@ahuang96" target="_blank" style="margin-left: 34.08px">啊环环环环环</a></div>
                  <div><strong>Xiaohongshu</strong><a href="https://www.xiaohongshu.com/user/profile/60084eef000000000100409b" target="_blank">啊环环环环环</a></div>
                  <div><strong>Bilibili</strong><a href="https://space.bilibili.com/9066701" target="_blank" style="margin-left: 51.09px">啊环环环环环</a></div>
                  <div><strong>Weibo</strong><a href="https://weibo.com/u/5496992078" target="_blank" style="margin-left: 47.33px">啊环环环环环</a></div>
                  <div><strong>Email</strong><a href="mailto:ahuang9688@gmail.com" style="margin-left: 54.6px">ahuang9688@gmail.com</a></div>
            </nav>
          </div>
          <div class="creator">
            <div class="profile">
              <img src="/images/flora.jpg" alt="Flora Yao">
              <div class="name">Flora Yao</div>
            </div>
              <div class="contact">
                <div class="contact-item"><strong>Instagram</strong><a href="https://www.instagram.com/jingyeyao" target="_blank" style="margin-left: 21.68px">jingyeyao</a></div>
                <div class="contact-item"><strong>Xiaohongshu</strong><a href="https://www.xiaohongshu.com/user/profile/58fb51df50c4b471e7a40265" target="_blank">二花花花花花</a></div>
                <div class="contact-item"><strong>Weibo</strong><a href="https://weibo.com/u/1973940471" target="_blank" style="margin-left: 47.33px">二花花花花花</a></div>
                <div class="contact-item"><strong>Email</strong><a href="mailto:ffjingye@gmail.com" style="margin-left: 54.6px">ffjingye@gmail.com</a></div>
              </div>
          </div>
        </div>
    </main>
    <Footer />
  </body>
</html>