---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | About`} description={SITE_DESCRIPTION} />
    <style>
      main {
        flex-direction: column;
      }
      a {
        text-decoration: none;
        color: rgb(var(--gray-less-dark));
      }
      strong {
        font-family: 'Avenir Medium', 'SourceHanSansCN';
      }
      .swing {
        display: flex;
      }

      .column {
        flex: 1;
      }

      .column.left {
        font-size: 3em;
        flex: 0 0 35%;
      }

      .column.right {
        text-align: justify
        flex: 1;
        padding-right: 15%;
      }
      .column.right .swing-cn {
        padding-top: 1em;
      }
      .column.right .swing-contact {
        display: flex;
        flex-direction: column;
        padding-top: 3em;
      }

      .creators {
        display: flex;
        padding-top: 5em;
      }

      .creator {
        display: flex;
        flex: 1; 
      }
      .creator.left {
        flex: 0 0 auto;
        flex-direction: column;
        width: auto;
      }
      .creator.right {
        flex: 1;
        flex-direction:column;
        padding-left: 1em;
        padding-top: 1em;
      }
      .creator.right div {
        font-size: var(--small-text-font);
      }

      .creator img {
        max-width: 100%;
        max-width: 180px;
        border-radius: 50%;
        margin-bottom: 1em;
      }
      .creator .name{
        font-size: var(--header-text-font); 
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
        <div class="swing">
          <div class="column left">
            About Swing
          </div>
          <div class="column right">
              <div class="swing-en">
                Swing DescriptionSwing Description Swing Description Swing Description Swing Description
                 Swing Description Swing Description Swing Description Swing Description Swing Description Swin
                 g Description Swing Description Swing Description Swing Description Swing Description Swing Description 
                 Swing Description Swing Description Swing Description Swing Description Swing Description
              </div>
              <div class="swing-cn">
                 中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍
                 中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍
                 中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍
                 中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍中文介绍
              </div>
              <nav class="swing-contact">
                <div><strong>Instagram: </strong><a href="https://www.instagram.com/swingofficial000" target="_blank">swingofficial000</a></div>
                <div><strong>Xiaohongshu: </strong><a href="https://www.xiaohongshu.com/user/profile/6305f5ce000000001200fcd2" target="_blank">Swing</a></div>
                <div><strong>Weibo: </strong><a href="https://weibo.com/u/7872160033" target="_blank">SwingOfficial</a></div>
              </nav>
              <div class="creators">
                <div class="creator">
                  <div class="creator left">
                    <img src="/images/aiden.jpg" alt="Aiden Huang">
                    <div class="name">Aiden Huang</div>
                  </div>
                  <nav class="creator right">
                      <div><strong>Instagram: </strong><a href="https://www.instagram.com/ahuang0808" target="_blank">ahuang0808</a></div>
                      <div><strong>Youtube: </strong><a href="https://www.youtube.com/@ahuang96" target="_blank">啊环环环环环</a></div>
                      <div><strong>Xiaohongshu: </strong><a href="https://www.xiaohongshu.com/user/profile/60084eef000000000100409b" target="_blank">啊环环环环环</a></div>
                      <div><strong>Bilibili: </strong><a href="https://space.bilibili.com/9066701" target="_blank">啊环环环环环</a></div>
                      <div><strong>Weibo: </strong><a href="https://weibo.com/u/5496992078" target="_blank">啊环环环环环</a></div>
                      <div><strong>Email: </strong><a href="mailto:ahuang9688@gmail.com">ahuang9688@gmail.com</a></div>
                  </nav>
                </div>
                <div class="creator">
                  <div class="creator left">
                    <img src="/images/flora.jpg" alt="Flora Yao">
                    <div class="name">Flora Yao</div>
                  </div>
                  <nav class="creator right">
                    <div><strong>Instagram: </strong><a href="https://www.instagram.com/jingyeyao" target="_blank">jingyeyao</a></div>
                    <div><strong>Xiahongshu: </strong><a href="https://www.xiaohongshu.com/user/profile/58fb51df50c4b471e7a40265" target="_blank">二花花花花花</a></div>
                    <div><strong>Weibo: </strong><a href="https://weibo.com/u/1973940471" target="_blank">二花花花花花</a></div>
                    <div><strong>Email: </strong> <a href="mailto:ffjingye@gmail.com">ffjingye@gmail.com</a></div>
                </nav>
                </div>
              </div>
          </div>
        </div>
    </main>
    <Footer />
  </body>
</html>