---

import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
interface Props {
	backgroundColor?: string;
}

const { backgroundColor = 'rgb(var(--white))'} = Astro.props;
---

<header style={`background-color: ${backgroundColor};`}>
	<nav>
		<a href="/">
			<img src="/images/logo.png" alt={SITE_TITLE}>
		</a>
		<div class="internal-links">
			<HeaderLink href="/podcast">Podcast</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		padding: 1em 3em;
		border-bottom: 1px solid rgb(var(--gray-light));
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 999;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a img{
		height: 3em;
	}

	nav .internal-links{
		display: flex;
		gap: 2em;
	}
</style>
