---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<a href="/">
			<img src="images/logo.png" alt={SITE_TITLE}>
		</a>
		<div class="internal-links">
			<HeaderLink href="/podcast">Podcast</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		border-bottom: 1px solid rgb(var(--gray-light));
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a img{
		height: 3em;
	}
</style>
