---

import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
interface Props {
	backgroundColor?: string;
}

const { backgroundColor = 'rgb(var(--white))'} = Astro.props;
---

<header style={`background-color: ${backgroundColor};`}>
	<nav>
		<a href="/">
			<img src="/images/logo.png" alt={SITE_TITLE}>
		</a>
		<button class="menu-toggle" aria-label="Toggle Menu">
			<span class="menu-icon">&#9776;</span>
		</button>
		<div class="internal-links">
			<HeaderLink href="/podcast">Podcast</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		padding: 1em 3em;
		border-bottom: 1px solid rgb(var(--gray-light));
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 999;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a img{
		height: 3em;
	}

	nav .internal-links{
		display: flex;
		gap: 2em;
	}
	.menu-toggle {
		display: none;
		background: none;
		border: none;
		font-size: 2.5em;
		cursor: pointer;
	}

	@media (max-width: 720px) {
		nav .internal-links {
			display: none;
			flex-direction: column;
			gap: 1em;
			position: absolute;
			top: 100%;
			padding-right: 3em;
			right: 0;
			background-color: rgb(var(--white));
			width: 100%;
			border-bottom: 1px solid rgb(var(--gray-light));
			text-align: right;
		}

		.menu-toggle {
			display: block;
		}

		nav.open .internal-links {
			display: flex;
		}
	}
</style>
<script>
	const menuToggle = document.querySelector('.menu-toggle');
	const nav = document.querySelector('nav');

	if (menuToggle && nav) {
		menuToggle.addEventListener('click', () => {
			nav.classList.toggle('open');
		});
	}
</script>
